
.banner{
    clear: both;
    width: 100%;
}

img{
     width: 100%;
}
#menu{
    width: 100%;
    background-color: black;
    padding: 1em;
}
.menu-fixo{
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: rgba(255,255,0,0.8)!important;
    padding: 0px;
}

.item1{
    height: 100vh;
    background-color: bisque;
    padding: 2em;
}
.item2{
    padding: 2em;
    height: 100vh;
    background-color:firebrick;
    color: white;
}
.titulo{
    text-align: center;
    padding: 0.5em;
}